@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al SuperComics</h1>
    <p> <a href="https://github.com/Facundo-Benitez15/ParcialLibros" target="blank">Click aqui para ir al repo</a>.</p>
</div>


